@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arbutus&display=swap');
.arbutus-regular {
  font-family: "Arbutus", serif;
  font-weight: 800;
  font-size: 60px;
  font-style: normal;
}

body{
  background: white;
  color: black;
}